/* Write your CSS here */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.github-repo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  margin: 20px;
  font-family: Lobster;
}
.github-container {
  width: 40%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.repositoriesList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
