/* Write your CSS here */
.LanguageFilterItem-container {
  margin: 10px;
}
.button {
  padding: 4px 16px;
  color: #0f172a;
  text-align: center;
  background-color: #ffff;
  border: none;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
}
.button:hover {
  border: 2px solid #0284c7;
  border-radius: 15px;
  padding: 2px 14px;
  color: #0284c7;
  font-weight: 600;
}
